<!DOCTYPE html >
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}"/>
    <link rel="stylesheet" th:href="@{/style/base.css}"/>
    <link rel="stylesheet" th:href="@{/style/head.css}"/>
    <link type="text/css" th:href="@{/css/front/css.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{https://at.alicdn.com/t/font_2375092_vqsrc24137i.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/wb.js}" type="text/javascript"></script>
    <script th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script th:src="@{/script/global.js}" type="text/javascript"></script>
    <script th:src="@{/script/head.js}" type="text/javascript"></script>
</head>
<body>
<!--抬头开始-->
<div class="top">
    <script>
        /*判断用户是否登录*/
        function toUserCenter() {
            $.ajax({
                url: '/user/isLogin',
                success: function (res) {
                    if (res=="已登录"){
                        window.location.href="/user/user_center.html";
                    }else {
                        layui.use("layer", function () {
                            this.layer=layui.layer;
                            //询问框
                            layer.confirm(res, {
                                icon: 0,
                                btn: ['去登录', '再看看'], //按钮
                                area: '100px'
                            }, function () {
                                window.location.href = "/user/toLogin";
                            }, function () {
                                this.close;
                            });
                        });
                    }
                }
            });
        }
        /*搜索商品*/
        function search() {
            var name = $('.ssk1').val();  //获取输入框的内容
            window.location.href="/user/search?key="+name;
        }
    </script>
    <div class="top1">
        <div class="top1_main">
            <span class="dl">您好，
                <span th:if="not ${#strings.isEmpty(session.user)}" style="margin-right: 5px">
                    <a href="" th:text="${session.user.nickname}"></a>
                </span>

                欢迎光临商品交易平台！
                <a th:href="@{/user/toLogin}" th:if="${session.user == null}"> [请登录]</a>
                <a th:href="@{/user/toRegister}" th:if="${session.user == null}">[免费注册]</a>
                <a th:href="@{/user/logout}" th:if="${session.user != null}">[注销]</a>
            </span>
            <span class="yh_zx" >
                <a target="_blank" style="color: #6C6C6C" th:href="@{/user/index.html}">商城首页</a> |
                <a style="color: #6C6C6C" href="javascript:void(0)" onclick="toUserCenter()">我的平台</a>  |
                <a style="color: #6C6C6C" href="#">我的订单</a>  |
                <a style="color: #6C6C6C" href="#">帮助中心</a>  |
                <a style="color: #6C6C6C" href="#">联系方式</a>
            </span>
        </div>
    </div>
    <div style="width: 100%;height: 60px;background-color: #ff4401">
        <div style="padding: 12px 0px 0px 314px;">
            <a href=""><img th:src="@{/images/front/myplat.png}" width="160" height="40" alt=""></a>
            <a th:href="@{/user/user_center.html}" style="margin-left: 158px;color: white;font-size: large;">首页</a>
            <i class="iconfont icon-top-s" style="position: absolute;margin: 33px -26px;color: white;"></i>
            <a href="" style="margin-left: 80px;color: white;font-size: large;">账户设置</a>
            <div class="ss_2">
                <!--搜索框-->
                <input name="key" type="text"  value="请输入您要搜索的产品" size="30" onclick="if(value==defaultValue){value='';this.style.color='#898b8c'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999; line-height:26px;border: 1px solid #efefef;" class="ssk1">
                <input name="" value="搜 索" type="button" class="button2" onclick="search()">
            </div>
        </div>
    </div>
</div>
<!--抬头结束-->

<!--<div class="pnt">
    <div th:replace="~{user/common/common::headNav2}"></div>
</div>-->
<div class="cont">
    <div class="contLeft" style="margin-left: 328px" id="contLeft">
        <h3 class="leftTitle">会员中心</h3>
        <dl class="helpNav vipNav">
            <dt>个人中心</dt>
            <dd>
                <div class="danye_left2_1"><a th:href="@{/cart.html}">我的购物车</a></div>
                <div class="danye_left2_1"><a th:href="@{/user/integral}">我的积分</a></div>
                <div class="danye_left2_1"><a th:href="@{/user/footmarket.html}">我的足迹</a></div>
            </dd>
            <dt>账户设置</dt>
            <dd style="display: block">
                <div class="danye_left2_1"><a style="color: #ff4401" th:href="@{/user/information}">个人资料</a></div>
                <div class="danye_left2_1"><a href="#">密码修改</a></div>
                <div class="danye_left2_1"><a href="#">收货地址</a></div>
            </dd>
            <dt>客户服务</dt>
            <dd>
                <a href="vipExit.html">网站使用条款</a>
                <a href="vipTuihuo.html">网站免责声明</a>
                <a href="message.html">在线留言</a>
            </dd>
        </dl><!--helpNav/-->
    </div>
    <div class="contRight" style="width: 867px;float: left;margin-left: 10px;height: 750px">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">修改密码</li>
            </ul>
            <div class="layui-tab-content" style="height: 300px;">
                <div class="layui-tab-item layui-show">
                    <div style="width: 100%;height: 520px;border: 1px solid #e2e2e2;text-align: center;">
                        <div style="font-size: 15px;margin-top: 94px">
                            旧密码：
                            <div class="layui-input-block" style="display: inline-block;margin-left: 29px;width: 34%;">
                                <input id="oldPwd" type="password" autocomplete="off" placeholder="请输入原来的密码" class="layui-input">
                            </div>
                        </div>
                        <div style="font-size: 15px;margin-top: 20px;">
                            新密码：
                            <div class="layui-input-block" style="display: inline-block;margin-left: 29px;width: 34%;">
                                <input id="newPwd" type="password" autocomplete="off" placeholder="请输入新密码" class="layui-input">
                            </div>
                        </div>
                        <div style="font-size: 15px;margin: 20px 0 0 12px;">
                            再次输入：
                            <div class="layui-input-block" style="display: inline-block;margin-left: 29px;width: 34%;">
                                <input id="newPwd2" type="password" autocomplete="off" placeholder="请再次输入新密码" class="layui-input" style="margin-left: -15px">
                            </div>
                        </div>
                        <div style="margin-top: 30px">
                            <input type="button" class="layui-btn layui-btn-warm" value="确认修改" th:onclick="edit()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--浏览记录结束-->
    <div class="clears"></div>
</div><!--cont/-->
<!--中部结束-->
<!--底部开始-->
<div th:replace="~{user/common/common::inHelp}"></div>
<!--底部结束-->
<script>
    /*修改密码*/
    function edit() {
        let oldPwd = $('#oldPwd').val();
        let newPwd = $('#newPwd').val();
        let newPwd2 = $('#newPwd2').val();
        //非空检验
        if (oldPwd=="" || newPwd=="" || newPwd2==""){
            layui.use("layer", function () {
                this.layer = layui.layer;
                layer.msg('请输入完整信息！',{area: '170px'});
            });
            return false;
        }

        if (newPwd != newPwd2){
            layui.use("layer", function () {
                this.layer = layui.layer;
                layer.msg('两次密码输入不一致！',{area: '200px'});
            });
            return false;
        }

        $.ajax({
            url: '/user/modifyPassword',
            data: {'oldPwd':oldPwd,'newPwd':newPwd},
            success: function (msg) {
                if (msg=='ok'){
                    layui.use("layer", function () {
                        this.layer = layui.layer;
                        layer.msg('修改成功，请重新登录！',{area: '220px'});
                        setTimeout(function () {
                            window.location.href='/user/toLogin';
                        }, 1500);
                    });
                }else{
                    layui.use("layer", function () {
                        this.layer = layui.layer;
                        layer.msg(msg,{area: '200px'});
                    });
                }
            }
        });
    }
</script>
</body>
</html>
