<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}"/>
    <link rel="stylesheet" th:href="@{/style/base.css}"/>
    <link rel="stylesheet" th:href="@{/style/head.css}"/>
    <link type="text/css" th:href="@{/css/front/css.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{https://at.alicdn.com/t/font_2375092_vqsrc24137i.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/wb.js}" type="text/javascript"></script>
    <script th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script th:src="@{/script/global.js}" type="text/javascript"></script>
    <script th:src="@{/script/head.js}" type="text/javascript"></script>
</head>

<body>

<div class="top">
    <script>
        /*判断用户是否登录*/
        function toUserCenter() {
            $.ajax({
                url: '/user/isLogin',
                success: function (res) {
                    if (res=="已登录"){
                        window.location.href="/user/user_center.html";
                    }else {
                        layui.use("layer", function () {
                            this.layer=layui.layer;
                            //询问框
                            layer.confirm(res, {
                                icon: 0,
                                btn: ['去登录', '再看看'], //按钮
                                area: '100px'
                            }, function () {
                                window.location.href = "/user/toLogin";
                            }, function () {
                                this.close;
                            });
                        });
                    }
                }
            });
        }
        /*搜索商品*/
        function search() {
            var name = $('.ssk1').val();  //获取输入框的内容
            window.location.href="/user/search?key="+name;
        }
    </script>
    <div class="top1">
        <div class="top1_main">
            <span class="dl">您好，
                <span th:if="not ${#strings.isEmpty(session.user)}" style="margin-right: 5px">
                    <a href="" th:text="${session.user.nickname}"></a>
                </span>

                欢迎光临商品交易平台！
                <a th:href="@{/user/toLogin}" th:if="${session.user == null}"> [请登录]</a>
                <a th:href="@{/user/toRegister}" th:if="${session.user == null}">[免费注册]</a>
                <a th:href="@{/user/logout}" th:if="${session.user != null}">[注销]</a>
            </span>
            <span class="yh_zx" >
                <a style="color: #6C6C6C" th:href="@{/user/index.html}">商城首页</a> |
                <a style="color: #6C6C6C" href="javascript:void(0)" onclick="toUserCenter()">我的平台</a>  |
                <a style="color: #6C6C6C" href="#">我的订单</a>  |
                <a style="color: #6C6C6C" href="#">帮助中心</a>  |
                <a style="color: #6C6C6C" href="#">联系方式</a>
            </span>
        </div>
    </div>
    <div style="width: 100%;height: 60px;background-color: #ff4401">
        <div style="padding: 12px 0px 0px 314px;">
            <a href=""><img th:src="@{/images/front/myplat.png}" width="160" height="40" alt=""></a>
            <a th:href="@{/user/user_center.html}" style="margin-left: 158px;color: white;font-size: large;">首页</a>
            <i class="iconfont icon-top-s" style="position: absolute;margin: 33px -26px;color: white;"></i>
            <a href="" style="margin-left: 80px;color: white;font-size: large;">账户设置</a>
            <div class="ss_2">
                <!--搜索框-->
                <input name="key" type="text"  value="请输入您要搜索的产品" size="30" onclick="if(value==defaultValue){value='';this.style.color='#898b8c'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999; line-height:26px;border: 1px solid #efefef;" class="ssk1">
                <input name="" value="搜 索" type="button" class="button2" onclick="search()">
            </div>
        </div>
    </div>
</div>
<!--抬头结束-->

<div class="cont">
    <div class="contLeft" style="margin-left: 328px" id="contLeft">
        <h3 class="leftTitle">会员中心</h3>
        <dl class="helpNav vipNav">
            <dt>个人中心</dt>
            <dd>
                <div class="danye_left2_1"><a th:href="@{/cart.html}">我的购物车</a></div>
                <div class="danye_left2_1"><a th:href="@{/user/integral}">我的积分</a></div>
                <div class="danye_left2_1"><a th:href="@{/user/footmarket.html}">我的足迹</a></div>
            </dd>
            <dt>账户设置</dt>
            <dd>
                <div class="danye_left2_1"><a th:href="@{/user/information}">个人资料</a></div>
                <div class="danye_left2_1"><a th:href="@{/user/modifyPassword.html}">密码修改</a></div>
                <div class="danye_left2_1"><a href="#">收货地址</a></div>
            </dd>
            <dt>客户服务</dt>
            <dd>
                <a href="vipExit.html">网站使用条款</a>
                <a href="vipTuihuo.html">网站免责声明</a>
                <a href="message.html">在线留言</a>
            </dd>
        </dl><!--helpNav/-->
    </div>
    <div class="contRight" style="width: 867px;float: left;margin-left: 10px;border: none">
        <!--如果订单为空-->
        <div th:if="${#lists.isEmpty(orderDetailsVoList)}" style="padding: 67px 124px">
            <img th:src="@{/images/front/notfount.jpg}" style="height: 180px;width: 185px">
            <span style="font-size: 14px">没有符合条件的宝贝，请尝试其他搜索条件。</span>
        </div>
        <div class="orderInfo" th:each="orderDetailsVo: ${orderDetailsVoList}">
            <div style="margin: 0px 0px -15px 8px;">
                <svg t="1611323548456" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="3459" width="16" height="16">
                    <path d="M503.944119 98.332322a12.210259 12.210259 0 1 1-12.210259-12.210259 12.282509 12.282509 0 0 1 12.210259 12.210259zM820.977351 98.332322a12.282509 12.282509 0 1 1-12.282509-12.210259 12.282509 12.282509 0 0 1 12.282509 12.210259z"
                          fill="#5FB0E5" p-id="3460"></path>
                    <path d="M34.246525 162.562619m-12.210259 0a12.210259 12.210259 0 1 0 24.420518 0 12.210259 12.210259 0 1 0-24.420518 0Z"
                          fill="#5FB0E5" p-id="3461"></path>
                    <path d="M301.571721 78.102307m-18.351514 0a18.351513 18.351513 0 1 0 36.703027 0 18.351513 18.351513 0 1 0-36.703027 0Z"
                          fill="#5FB0E5" p-id="3462"></path>
                    <path d="M687.676004 53.320539A24.565018 24.565018 0 1 1 663.110986 28.900021a24.565018 24.565018 0 0 1 24.565018 24.420518z"
                          fill="#5FB0E5" p-id="3463"></path>
                    <path d="M109.16983 53.320539m-24.709518 0a24.709518 24.709518 0 1 0 49.419036 0 24.709518 24.709518 0 1 0-49.419036 0Z"
                          fill="#5FB0E5" p-id="3464"></path>
                    <path d="M115.600085 162.562619h784.491074a30.778523 30.778523 0 0 1 30.778523 30.778523v766.789811H84.460312V193.341142A30.778523 30.778523 0 0 1 115.600085 162.562619z"
                          fill="#FFFFFF" p-id="3465"></path>
                    <path d="M948.065194 977.326466H67.264799V192.546391a47.179285 47.179285 0 0 1 47.179285-47.107034h66.975799v34.318775h-66.975799a12.860509 12.860509 0 0 0-12.86051 12.788259v750.38905h812.162845V192.546391a12.860509 12.860509 0 0 0-12.860509-12.788259H419.050307v-34.318775h482.196853a47.179285 47.179285 0 0 1 47.179285 47.107034z"
                          fill="#0686D8" p-id="3466"></path>
                    <path d="M244.421929 145.439357h114.299584v34.318775H244.421929z" fill="#0686D8" p-id="3467"></path>
                    <path d="M46.456784 918.009172m22.108516 0l878.199393 0q22.108516 0 22.108517 22.108517l0 20.157764q0 22.108516-22.108517 22.108517l-878.199393 0q-22.108516 0-22.108516-22.108517l0-20.157764q0-22.108516 22.108516-22.108517Z"
                          fill="#5FB0E5" p-id="3468"></path>
                    <path d="M946.836943 999.507232H68.5653a39.304029 39.304029 0 0 1-39.231779-39.231779v-20.157764a39.304029 39.304029 0 0 1 39.231779-39.304029h878.271643a39.304029 39.304029 0 0 1 39.231779 39.304029v20.157764a39.304029 39.304029 0 0 1-39.231779 39.231779z m-878.271643-64.302547a4.840754 4.840754 0 0 0-4.913003 4.913004v20.157764a4.913004 4.913004 0 0 0 4.913003 4.913004h878.271643a4.985254 4.985254 0 0 0 4.913004-4.913004v-20.157764a4.913004 4.913004 0 0 0-4.913004-4.913004z"
                          fill="#0686D8" p-id="3469"></path>
                    <path d="M46.456784 249.190433m22.108516 0l878.199393 0q22.108516 0 22.108517 22.108516l0 20.157764q0 22.108516-22.108517 22.108517l-878.199393 0q-22.108516 0-22.108516-22.108517l0-20.157764q0-22.108516 22.108516-22.108516Z"
                          fill="#5FB0E5" p-id="3470"></path>
                    <path d="M946.836943 330.688492H68.5653a39.231779 39.231779 0 0 1-39.231779-39.231779v-20.157764a39.231779 39.231779 0 0 1 39.231779-39.231779h878.271643a39.304029 39.304029 0 0 1 39.231779 39.231779v20.157764a39.304029 39.304029 0 0 1-39.231779 39.231779zM68.5653 266.385945a4.840754 4.840754 0 0 0-4.913003 4.913004v20.157764a4.840754 4.840754 0 0 0 4.913003 4.913004h878.271643a4.913004 4.913004 0 0 0 4.913004-4.913004v-20.157764a4.913004 4.913004 0 0 0-4.913004-4.913004z"
                          fill="#0686D8" p-id="3471"></path>
                    <path d="M181.419883 582.913427h207.863402v399.470543H181.419883z" fill="#5FB0E5"
                          p-id="3472"></path>
                    <path d="M181.419883 852.261624l207.863402-207.935652v-61.412545h-51.225287l-156.638115 156.638115v112.710082zM181.419883 937.733437l207.863402-207.935652v-39.231779l-207.863402 207.935652v39.231779z"
                          fill="#9ECFEF" p-id="3473"></path>
                    <path d="M406.406548 999.507232H164.22437v-433.500317h242.182178z m-207.863403-34.318775h173.400127V600.036689h-173.400127z"
                          fill="#0686D8" p-id="3474"></path>
                    <path d="M181.419883 387.766034h207.863402v128.243844H181.419883z" fill="#5FB0E5"
                          p-id="3475"></path>
                    <path d="M406.406548 533.205391H164.22437V370.570521h242.182178z m-207.863403-34.318776h173.400127V404.600296h-173.400127z"
                          fill="#0686D8" p-id="3476"></path>
                    <path d="M244.421929 828.346857a42.121781 42.121781 0 1 1 42.049531-42.121781 42.194031 42.194031 0 0 1-42.049531 42.121781z m0-49.924787a7.803006 7.803006 0 1 0 7.730756 7.803006 7.803006 7.803006 0 0 0-7.730756-7.803006z"
                          fill="#0686D8" p-id="3477"></path>
                    <path d="M521.211882 510.735624h287.48296v329.821492H521.211882z" fill="#5FB0E5" p-id="3478"></path>
                    <path d="M521.211882 629.948211v160.973118l280.113455-280.185705H640.352219l-119.140337 119.212587zM635.150215 840.557116l173.544627-173.544627V582.552177l-258.004939 258.004939h84.460312z"
                          fill="#9ECFEF" p-id="3479"></path>
                    <path d="M825.890355 857.752628H504.016369v-364.140266h321.873986zM538.335144 823.650603h253.236436V527.931137h-252.875185z"
                          fill="#0686D8" p-id="3480"></path>
                    <path d="M462.400339 313.56523h401.638044v226.648416a42.699781 42.699781 0 0 1-42.699781 42.699781H504.95562A42.699781 42.699781 0 0 1 462.400339 540.213646V313.56523z"
                          fill="#9ECFEF" p-id="3481"></path>
                    <path d="M521.211882 582.913427A58.956043 58.956043 0 0 1 462.400339 523.957384V313.56523h58.956043zM580.167925 313.56523h58.956043v269.348197H580.167925zM698.007761 313.56523h58.956043v269.348197h-58.956043zM863.966133 541.297396V313.56523h-55.271291v269.348197h13.65526a41.61603 41.61603 0 0 0 41.616031-41.616031z"
                          fill="#D2E9F7" p-id="3482"></path>
                    <path d="M786.369576 600.036689H536.312143a91.251817 91.251817 0 0 1-91.179567-91.179566V296.225217H881.450646v209.091653a94.792069 94.792069 0 0 1-95.08107 94.719819zM479.451351 330.688492v178.168631a56.933042 56.933042 0 0 0 56.860792 56.860791h250.057433a60.473294 60.473294 0 0 0 60.401044-60.401044V330.688492z"
                          fill="#0686D8" p-id="3483"></path>
                </svg>
                <span class="seller_id" th:text="${orderDetailsVo.sellerId}" hidden></span>
                <span class="cart_id" th:text="${orderDetailsVo.id}" hidden></span>
                <span class="seller_name" style="color: #666;line-height: 30px;font-weight: 600;font-size: larger;">[[${orderDetailsVo.seller.nickname}]] 的店铺</span>
                <span class="cart_status" th:text="${orderDetailsVo.status==0?'待收货':'已收货'}"></span>
            </div>
            <div class="dingd_sl" style="width: 865px;height: 140px;margin-top: 15px;background-color: rgb(251, 252, 255);border-bottom: 1px dotted rgb(221, 221, 221);">
                <div class="ddtp_3" style="width: 120px;height: 130px;margin: 5px 10px 0px 10px">
                    <img th:src="@{${orderDetailsVo.goods.photoUrl}}" width="120" height="125"/>
                </div>
                <div class="goods_title">
                    <span>
                        <a href="#" th:text="${orderDetailsVo.goods.goodsTitle}"></a>
                    </span>
                </div>
                <div style="width:60px;display: inline-block;float: right;margin: 20px 90px 10px;font-size: medium;">
                    <span>￥[[${orderDetailsVo.goods.price}]]</span>
                    <span style="margin-left: 38px;color: darkgrey;">x&nbsp;[[${orderDetailsVo.orderCount}]]</span>
                </div>
                <div>
                    配送方式：<span style="background-color: green;color: white;font-size: 13px" th:text="${orderDetailsVo.delivery==1?'上门自取':'货主配送'}"></span>
                </div>
                <div style="float: right; margin-right: 40px;font-size: medium;">
                    实付：￥<span style="color: #dc2020;font-weight: bolder;" th:text="${orderDetailsVo.goods.price*orderDetailsVo.orderCount}"></span>
                </div>
            </div>
            <div class="confirm_receipt">
                <div>
                    <button th:onclick="|receipt(${orderDetailsVo.id},${orderDetailsVo.goods.price*0.1*orderDetailsVo.orderCount})|" th:if="${orderDetailsVo.status==0}">确认收货</button>
                </div>
                <div>
                    <button style="background-color: white;color: #0C0C0C;border: 1px solid gainsboro;" th:onclick="|detail(${orderDetailsVo.id},${orderDetailsVo.status})|">查看详情</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clears"></div>
</div>

<!--中部结束-->

<!--底部开始-->
<div th:replace="~{user/common/common::inHelp}"></div>
<!--底部结束-->
<script>
   /*查看订单详情*/
    function detail(id,status) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,
                title:'订单详情',
                content: '/user/order_detail.html?id='+id+'&status='+status,
                area:['580px',"416px"],
                anim: 4,
                offset: '210px'
            });
        });
    }
    /*确认收货*/
    function receipt(id,integral) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.confirm('您确认收货吗？', {icon: 3, area: '100px'}, function (index) {
                $.ajax({
                    url: '/order/receipt',
                    type: 'post',
                    data: {
                        'id':id,
                        'integral':parseInt(integral),
                    },
                    success: function (res) {
                        layer.msg('收货成功', {icon: 1,time: 1000});
                        setTimeout(function () {
                            window.location.href='/user/toBeReceived.html';
                        }, 1000);
                    }
                });
            });
        });
    }
</script>
</body>
</html>
